{% extends "base.html" %}
{% block content %}

<link href="{{ url_for(".static", filename="css/dc.css") }}" rel="stylesheet">

<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

<script src="https://cdn.jsdelivr.net/bootstrap.listgroup/1.1.2/listgroup.min.js"></script>

<script src="{{ url_for(".static", filename="js/graph.js") }}"></script>



<div id="dashboard">
	<div class="box graph">
        <div class="box-header">
        	<span>Graph</span>
        </div>
        <div class="box-content">

			<div id="barChart"></div>
			<div id="container" style="height: 600px; min-width: 810px"></div>

			<h5>This page needs a very good charting tool. That also includes a download and share data.
			</h5>
			<h5>It also needs a function to add what ever data you want.</h5>
        </div>
    </div>
	<div class="box">
        <div class="box-header">
        	<span>Add Data</span>
        </div>
        <div class="box-content">
			<hr><br>
			<select class="list-group" multiple>
				<option selected="selected">Sensor 1</option>
				<option>Sensor 2</option>
				<option selected="selected">Sensor 3</option>
				<option>Sensor 4</option>
				<option>Sensor 5</option>
			</select>



        </div>
    </div>

</div>


<script src="{{ url_for(".static", filename="js/d3.js") }}"></script>
<script src="{{ url_for(".static", filename="js/crossfilter.js") }}"></script>
<script src="{{ url_for(".static", filename="js/dc.js") }}"></script>
<script src="{{ url_for(".static", filename="js/analysis.js") }}"></script>




{% endblock %}