body, html {
    font-family: 'Ubuntu', Arial, sans-serif;
    height: 100%;
    width: 100%;
}

/* Added by me */

.navbar {
	text-transform: uppercase;
	margin-bottom: 0px;
}

.navbar-inverse {
	padding-bottom: 20px;
	padding-top: 70px;
}

.navbar-inverse {
	background-color: #1a8bbc; /*#117964; /*#1abc9c;*/
	border-color: #1a8bbc; /*#117964; /*#16a085;*/
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #222222;
}

.navbar-brand {
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 2px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

#footer {
	background-color: #2f2f2f;
	padding-top: 50px;
	padding-bottom: 50px; 
}

#footer p {
	color: white;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 20px;
}




/* Original */


a {
    color: #10839d;
}
a:hover {
    text-decoration: none;
    color: #0fa2c2;
}

#frontPage {
    height: 100%;
    width: 100%;
}

#frontPage .header {
}

#frontPage .header > div {
    height: 70px;
}

#frontPage .header .logo a {
    color: #ffffff;
}

#frontPage .header .logo {
    background-color: #458bbe;
    width: 200px;
    position: absolute;
    text-align: center;
}

#frontPage .header .logo small {
    font-size: 12px;
}

#frontPage .header .logo span.app-name {
    font-size: 20px;
    line-height: 64px;
    font-weight: 300;
}

#frontPage .header .top-nav {
    width: 100%;
    padding-left: 200px;
    padding-right: 10px;
}

#frontPage .header .top-nav .dropdown {
    padding-top: 18px;
    margin-right: 20px;
}

#frontPage .header .top-nav .host-info {
    margin-left: 20px;
    padding-top: 8px;
    float: left;
}

#frontPage .header .top-nav .host-info .name span.glyphicon {
    color: #adadad;
    line-height: 24px;
    height: 20px;
}

#frontPage .header .top-nav .host-info .name span.hostname {
    font-size: 22px;
    font-weight: 300;
}

#frontPage .header .top-nav .host-info .info {
    color: #777777;
    font-size: 12px;
}

#frontPage .header .top-nav .dropdown-text {
    color: #898989;
    padding: 10px;
    font-size: 18px;
}

#frontPage .header .top-nav span.caret {
    color: #adadad;
}

#frontPage .table-container {
    display: table;
    height: 100%;
}

#frontPage .table-container .content {
    height: 100%;
    padding-top: 70px;
    display: table-row;
}

#frontPage .table-container .content > div {
    display: table-cell;
    vertical-align: top;
}

#frontPage .table-container .content .left-nav {
    width: 200px;
    background-color: #313443;
    color: #ffffff;
}

#frontPage .table-container .content .left-nav ul.menu {
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
}

#frontPage .table-container .content .left-nav ul.menu li a {
    display: block;
    width: 200px;
    height: 40px;
    padding-top: 6px;
    padding-left: 20px;
    border-left: 4px solid #313443;
    color: #adadad;
}

#frontPage .table-container .content .left-nav ul.menu li a span.glyphicon {
    font-size: 24px;
}

#frontPage .table-container .content .left-nav ul.menu li a span.option-text {
    font-size: 16px;
    padding-left: 16px;
    line-height: 24px;
    vertical-align: 5px;
}

#frontPage .table-container .content .left-nav ul.menu li.active a, #psdash .content .left-nav ul.menu li a:hover {
    text-decoration: none;
    color: #ffffff;
    border-left: 4px solid #d43f3a;
}

#frontPage .table-container .content .main-content {
    border-top: 1px solid #c1d0d9;
    margin-left: 200px;
    background-color: #dee2ea;
    width: 100%;
    padding: 20px;
}

#frontPage .table-container .content .main-content div.box {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #c2c6ce;
    margin-right: 20px;
    margin-bottom: 20px;
    min-height: 310px;
}

