{% extends "main.html" %}
{% block content %}

<link href="{{ url_for(".static", filename="css/dc.css") }}" rel="stylesheet">

<br>
<div class="container">
	<h1>Home Energy Monitoring</h1>
	<hr>
	<li>Make your electricity usage more efficient!</li>
	<li>Better control</li>
</div>

<br><br>
<div class="container">
	<h1>Renewable Energy Production Monitoring</h1>
	<hr>
	<li>Wind Turbine Monitoring</li>
	<li>Solar Farm Monitoring</li>
	<li>Hydro Power Station Monitoring</li>
</div>

<br><br>
<div class="container">
	<h1>Testing Systems</h1>
	<hr>
	<li>Product Testing</li>
	<li>Component Testing</li>
</div>

{% endblock %}