{% extends "main.html" %}
{% block content %}

<link href="{{ url_for(".static", filename="css/dc.css") }}" rel="stylesheet">

<div class="container">

   	<br><br>
	<!--
	<h1>Zepto's sensor nodes combined with our simple to use online data logging application allows you to monitor analyse your processes</h1>
	<br><br>


   	<h1>An incredibly simple online <a>data logging application</a></h1>
   	<h1> Coulpled with simple <a>sensor nodes</a> </h1>
	<h1> Equals the worlds most amazing system!! </h1>

	-->
	<h2>Zepto provides monitoring systems for a wide range of applications through our <a href="{{ url_for(".products") }}">Engine</a>,
	<a href="{{ url_for(".products") }}">Hub</a> and wide range of <a href="{{ url_for(".products") }}">Nodes</a>.<h2>

   	<br>

   	<h2><a href="{{ url_for(".contact") }}">Contact us</a> if you are interested in trying it out!</h2>

	<br><br>

   	<h4> The Zepto system is an end to end monitoring system which handles everything from the extraction of sensor data
	to the storage and visualisation of the data.</h4>
	<h4> Our aim is to reduce waste and make systems more efficient by enabling people get a better understanding of the system through
	collecting data on it over an extended period of time </h4>

	<br>
	<a href="{{ url_for(".applications") }}"><button>Configuration examples</button></a>

</div>

{% endblock %}